*{
	margin:0px;
	padding:0px;
	font-family: helvetica;
}

p#texto{
	text-align: center;
	color:white;
}

div#div_file{
	position:relative;
	padding:5px;
	width:150px;
        height: 30px;
	background-color: #F15742;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 3px 0px red;
}

input#btn_abrir_imagen_previa{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}